/* -------------------------------------------Imported Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Righteous&display=swap");

/* -------------------------------------------Global Font-Size set to 10px */
* {
  font-size: 10px;
}

/*-------------------------------------------General*/
html {
  color: #270424;
  margin: 0 auto;
  padding: 0;
}
body {
  background-color: rgb(219, 199, 233);
}

h1 {
  font-family: "Righteous", sans-serif;
  text-transform: uppercase;
  font-size: 5rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #5a1354;
}
/*-------------------------------------------Modal*/
.btn-bg {
  background: #270424;
  border: none;
  color: #ffffff;
}

.modal-content {
  font-family: "Righteous", sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  margin-top: 1.75rem;
  padding: 1rem;
}

.modal-content span {
  font-family: "Righteous", sans-serif;
  text-transform: uppercase;
  font-size: 2.75rem;
  text-align: center;
  padding-top: 1rem;
  width: 100%;
}
.modal-footer button{
  font-size: 1.75rem;
}

.modal-body li {
  font-family: "Righteous", sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding-top: 2rem;
}

.modal-title {
  font-family: "Righteous", sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
  text-align: center;
}

.btn:hover {
  background: rgb(0, 0, 0);
  color: #ffffff;
}
/*-------------------------------------------Phaser Game Canvas*/
#game {
  margin: auto;
  padding: 0;
  width: 80rem;
  height: 70rem;
}
