/* -------------------------------------------GImported Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Righteous&display=swap");

/* -------------------------------------------Global Font-Size set to 10px */
* {
  font-size: 10px;
}

html {
  background-color: #ffffff;
  color: #270424;
  margin: 0 auto;
  padding: 0;
  /* background: url("assets/images/background-brick.png"); */
}

h1 {
  font-family: "Righteous", sans-serif;
  text-transform: uppercase;
  font-size: 5rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

h2 {
  font-family: "Righteous", sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.btn-bg--charcoal {
  background: #270424;
  border: none;
  color: #ffffff;
}

.modal-content {
  font-family: "Righteous", sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  margin-top: 1.75rem;
  /* text-align: center; */
}

.modal-content p {
  font-family: "Righteous", sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  margin-left: 57rem;
  padding-top: 1rem;
}

.modal-body li {
  font-family: "Righteous", sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.modal-title {
  font-family: "Righteous", sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
  text-align: center;
}

.btn-wide {
  width: 30rem;
  text-align: center;
}

.btn:hover {
  background: rgb(0, 0, 0);
  color: #ffffff;
}

#game {
  margin: auto;
  padding: 0;
  width: 80rem;
  height: 64rem;
}
